.blockAvatar{
    display: flex;
    margin-bottom: 14px;
}
.avatar{
width: 124px;
height: 124px;
border-radius: 50%;
z-index: 5;
}
.name, .vacancy, .text{
    margin: 0;
}
.name, .vacancy{
    margin-bottom: 2px;
    margin-left: 10px;
}
.text{
    background: #FFFBC8;
    border: 1px solid #DADADA;
    border-radius: 5px;
    margin-left: -30px;
    padding-left: 45px;
    padding-top: 6px;
    padding-bottom: 8px;
    width: 95%;
}